<?xml version="1.0"?>
<config>
	<modules>
		<EbayEnterprise_CmsAssets>
			<version>0.1.0</version>
		</EbayEnterprise_CmsAssets>
	</modules>

	<global>
		<resources>
			<EbayEnterprise_CmsAssets_setup>
				<setup>
					<module>EbayEnterprise_CmsAssets</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</EbayEnterprise_CmsAssets_setup>
			<EbayEnterprise_CmsAssets_write>
				<connection>
					<use>core_write</use>
				</connection>
			</EbayEnterprise_CmsAssets_write>
			<EbayEnterprise_CmsAssets_read>
				<connection>
					<use>core_read</use>
				</connection>
			</EbayEnterprise_CmsAssets_read>
		</resources>

		<models>
			<enterprise_cms>
				<rewrite>
					<page_revision>EbayEnterprise_CmsAssets_Model_Page_Revision</page_revision>
				</rewrite>
			</enterprise_cms>
		</models>
	</global>

	<adminhtml>
		<events>
			<adminhtml_cms_page_edit_tab_content_prepare_form>
				<observers>
					<ebayenterprise_cmsassets_page_edit_tab_content_prepare_form>
						<type>singleton</type>
						<class>EbayEnterprise_CmsAssets_Model_Observer</class>
						<method>pageAdminEditTabContentPrepareForm</method>
					</ebayenterprise_cmsassets_page_edit_tab_content_prepare_form>
				</observers>
			</adminhtml_cms_page_edit_tab_content_prepare_form>

			<cms_page_prepare_save>
				<observers>
					<ebayenterprise_cmsassets_page_prepare_save>
						<type>singleton</type>
						<class>EbayEnterprise_CmsAssets_Model_Observer</class>
						<method>pageAdminPrepareSave</method>
					</ebayenterprise_cmsassets_page_prepare_save>
				</observers>
			</cms_page_prepare_save>

			<controller_action_layout_generate_blocks_after>
				<observers>
					<ebayenterprise_cmsassets_layout_generate_blocks_after>
						<type>singleton</type>
						<class>EbayEnterprise_CmsAssets_Model_Observer</class>
						<method>pageAdminAddJavascriptBlock</method>
					</ebayenterprise_cmsassets_layout_generate_blocks_after>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</adminhtml>
</config>
