<?xml version="1.0"?>
<config>
	<modules>
		<EbayEnterprise_CmsAssets>
			<version>1.1.0</version>
		</EbayEnterprise_CmsAssets>
	</modules>

	<global>
		<resources>
			<ebayenterprise_cmsassets_setup>
				<setup>
					<module>EbayEnterprise_CmsAssets</module>
				</setup>
			</ebayenterprise_cmsassets_setup>
		</resources>

		<helpers>
			<ebayenterprise_cmsassets>
				<class>EbayEnterprise_CmsAssets_Helper</class>
			</ebayenterprise_cmsassets>
		</helpers>

		<models>
			<ebayenterprise_cmsassets>
				<class>EbayEnterprise_CmsAssets_Model</class>
			</ebayenterprise_cmsassets>
			<enterprise_cms>
				<rewrite>
					<config>EbayEnterprise_CmsAssets_Model_Cms_Config</config>
				</rewrite>
			</enterprise_cms>
		</models>

		<blocks>
			<ebayenterprise_cmsassets>
				<class>EbayEnterprise_CmsAssets_Block</class>
			</ebayenterprise_cmsassets>
		</blocks>
	</global>

	<frontend>
		<layout>
			<updates>
				<ebayenterprise_cmsassets>
					<file>ebayenterprise_cmsassets.xml</file>
				</ebayenterprise_cmsassets>
			</updates>
		</layout>
	</frontend>

	<adminhtml>
		<layout>
			<updates>
				<ebayenterprise_cmsassets>
					<file>ebayenterprise_cmsassets.xml</file>
				</ebayenterprise_cmsassets>
			</updates>
		</layout>
		<events>
			<adminhtml_cms_page_edit_tab_design_prepare_form>
				<observers>
					<ebayenterprise_cmsassets_page_edit_tab_design_prepare_form>
						<type>singleton</type>
						<class>ebayenterprise_cmsassets/observer</class>
						<method>pageAdminEditTabDesignPrepareForm</method>
					</ebayenterprise_cmsassets_page_edit_tab_design_prepare_form>
				</observers>
			</adminhtml_cms_page_edit_tab_design_prepare_form>
		</events>
		<cms>
			<browser>
				<extensions>
					<allowed>
						<css>1</css>
						<js>1</js>
					</allowed>
				</extensions>
			</browser>
		</cms>
	</adminhtml>
</config>
